include *.txt
include *.rst
recursive-include hbp_collaboratory_sphinx_theme *.html
recursive-include hbp_collaboratory_sphinx_theme/static *.*
recursive-include hbp_collaboratory_sphinx_theme theme.conf
